thead {
    position: sticky;
    top: 0;
    background-color: whitesmoke;
}

html,
body {
    margin: 0;
    height: 100%;
}

#add-button {
    left: 50%;
    bottom: 0;
}

.add-button-unstuck {
    position: absolute;
    transform: translate(-50%, 100%);
}

.add-button-stuck {
    position: fixed;
    transform: translate(-50%, -25%);
}

#login-button {
    float: right;
}

#motool-title {
    margin-left: 2%;
    color: whitesmoke;
}

#login-container {
    margin-right: 2%;
    justify-content: right;
    float: right;
    width: 100%;
}